html {
    box-sizing: border-box;
}

body {
    background-color: aqua;
}

h1 {
    font-family: cursive;
    font-size: 60px;
    text-decoration: underline;
    text-align:center
}

ul {
    background-color: black;
    height: 300px;
    text-align: center;
}

li {
    color: white;
    display: inline-block;
    margin:10px;
}

a {
    color: white;
    font-weight: bold;
    font-size: 30px;
}